body {
  font-size: 80%;
  min-width: 970px;
}
.ui-tabs-nav li a {
  font-size: 1em;
}

#drop-zone {
  border: 2px dashed #BBB;
  height: 80px;
  margin: 0;
}
#drop-zone .instruction {
  display: block;
  clear: both;
  color: #BBB;
  text-align: center;
  font-size: 150%;
  margin-top: 25px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
#drop-zone span .thumb {
  height: 70px;
  border: 1px solid #000;
  margin: -46px 0 5px 5px;
  position: relative;
}
.matrix {
  /*text-align: center;*/
}
.matrix h3 {
  float: left;
}
.matrix button {
  float: left;
  margin: 10px 0 0 10px;
}
.matrix table {
  font-size: 0.5em;
}
.matrix canvas {
  margin-left: 20px;
  border: 1px solid #77d5f7;
}
table .ui-jqgrid tr.jqgrow td {
  padding: 0;
}
/*
.matrix canvas {
  margin-right: 5px;
}
*/
tr.ui-widget-content.jqgrow.ui-row-ltr td:first-child {
  font-weight: bold;
}
.clr {
  clear: both;
}

.params input {
  width: 50px;
  border: none;
}
.params>div {
  float: left;
  margin-right: 10px;
  min-width: 200px;
}
.params form {
  margin-bottom: 10px;
}

#code-distance {
  float: left;
  margin-right: 10px;
}

#radius {
  float: left;
}

.highcharts-tooltip + text {
  display: none;
}

.characteristics, .optimization-chart {
  float: left;
}
.optimization-chart {
  width: 550px;
  margin-left: 5px;
}

